body {
    font-family: Arial, sans-serif;
}
.items-container {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

}


.item-card {

    background: white;

    padding: 20px;

    width: 300px;

    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}


.item-card h3 {

    margin-top: 0;

}
.dashboard {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

}



.dashboard-card {


    background: white;

    padding: 20px;

    width: 200px;

    text-align: center;

    border-radius: 8px;


}



button {


    padding: 12px 20px;

    margin: 10px;

    cursor: pointer;


}
.form-container {

    background:white;

    padding:30px;

    width:60%;

    margin:auto;

    border-radius:10px;

}



form {

    display:flex;

    flex-direction:column;

}



input,
textarea,
select {

    padding:10px;

    margin-bottom:15px;

}



textarea {

    height:100px;

}



button {

    background:#333;

    color:white;

    border:none;

    padding:12px;

    border-radius:5px;

}